<!DOCTYPE html>
<html lang="en">
<head>
<%- include('header') %>
</head>
<body>
<%- include('navbar') %>
<%- include('listadmin') %>
 <%- include('formadmin') %>   
</body>
 <%- include('footer') %>   
</html>
                            