<!DOCTYPE html>
<html lang="en">
<head>
<%- include('header') %>
</head>
<body>
<%- include('navbar') %>
<%- include('listmahasiswa') %>
 <%- include('formmhs') %>   
</body>
 <%- include('footer') %>   
</html>
                            